<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">FreeMentorship</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to 'Mentor',mentor_users_path,class:"nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Abot Us </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">Contact Us </a>
      </li>
      <li class="nav-item ">
        <%= link_to 'Inbox Session', conversations_path,class:"nav-link" %>
      </li>
     
    </ul>
    <%= link_to current_user.lastName,mentor_user_path(current_user.id),class:'nav-link ml-auto' %>
    <%= link_to "Logout", session_path(current_user.id), method: :delete ,class:"nav-link"%>
  </div>
</nav>

<div class="container user-cards-container ">
  <p id="notice"><%= notice %></p>
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card" style="width: 25rem;">
        <div class="card-header" style="color:blue; "><h1>Request Upload</h1></div>
        <div class="card-body" style="width: 25rem;">
        <%= render 'form', profile: @profile %>
        </div>
    
      </div>
    </div>
    </div>



