<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">FreeMentorship</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to 'Admin',admin_users_path,class:"nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Abot Us </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">Contact Us </a>
      </li>
      <li class="nav-item ">
      <%= link_to 'Request', admin_profiles_path,class:"nav-link"%>
    </li>
    </ul>
    <%= link_to current_user.lastName,admin_user_path(current_user.id),class:'nav-link ml-auto' %>
    <%= link_to "Logout", session_path(current_user.id), method: :delete ,class:"nav-link"%>
  </div>
</nav>
<div class="container user-cards-container ">
  <p id="notice"><%= notice %></p>
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card" style="width: 25rem;">
        <div class="card-header" ><b>Request submitted</b></div>
        <div class="card-body" style="width: 25rem;">
        <p>
        <div style="width:20 rem; height:auto">
          <strong>Pic:</strong>
          <%= image_tag(@profile.pic, style:"width:9%") %>
        </p>
        <p><strong>Cv:
        <%= link_to 'view' ,@profile.cv%>
        <%= link_to 'Download',@profile.cv, download: ''%>
          </strong>
        <p><%= @profile.comments.count %> comments</p>
        <p>List of Comments(Contents below are important)</p>
        <!-- Get an HTML id of this comments_area and update only the part of that div -->
        <div id="comments_area">
          <!-- Render to display the posted comment list on the profile detail page -->
          <%= render partial: 'comments/index', locals: { comments: @comments, profile: @profile } %>
        </div>
        <!-- Render to display the comment field on the blogs detail page -->
        <%= render partial: 'comments/form', locals: { comment: @comment, blog: @profile } %>
      </div>
    </div>
    </div>
